/* Page reset */
html, div, .page, .header, body, ul, .nav, .nav-web, .logo, .links, {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Removing list styles for all ul tags */
ul{
    list-style-type: none;
}
/* Laying out the page using padding */
.nav, .header, .content, .footer{
    width: 980px;
    margin: auto;
}
/* Styling out the heading */
.header{
    background-color: gray;
}
/* Changing multiple classes to inline-block to line them up */
.web-list-items, .content-list-items, .nav-web, .logo, .links, .search{
    display: inline-block;
}
/* Styling the top levelnavigation for the website */
.nav-web{
    margin: 5px 0 5px 0;
    height: 30px;
}
.nav-web-list{
    border-bottom: 1px solid lightgray;
}
.logo{
    /* display: inline-block;
    width: 100px; */
}
.logo-img{
    width: 100px;
}
.web-list-items{
    border-right: 1px solid lightgray;
    text-align: center;
    padding: 0 5px 0 5px;
}
.search{
    background: lightgray;
    color: white;
    border: none;
    padding: 5px 0 0 0;
}
